services:
  postgres:
    image: postgres:latest
    container_name: patient-service-db
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: password
      POSTGRES_DB: patient_service
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql
      - db-data:/var/log/postgresql

volumes:
  db-data:
