spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: patient-service
              uri: http://localhost:4000
              predicates:
                - Path=/api/v1/patients/**
            - id: patient-service-docs
              uri: http://localhost:4000
              predicates:
                - Path=/api-docs/patients
              filters:
                - RewritePath=/api-docs/patients, /v3/api-docs

server:
  port: 4004
