spring:
  application:
    name: patient-service
  datasource:
    #    driver-class-name: org.h2.Driver
    #    url: jdbc:h2:mem:testdb
    #    username: sa
    #    password:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/patient_service
    username: root
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always
#  h2:
#    console:
#      enabled: true
#      path: /h2-console


billing:
  service:
    address: localhost
    grpc:
      port: 9001


server:
  port: 4000
